body{
    background:#fff;
    font-family: sans-serif;
    font-weight: 400;
    }
    #slider{
    width: 95%;
    padding-top: 12px;
    margin:10px 0px 10px 20px;
    
    position:relative;
    overflow:hidden;
    }
    #section_third{
        display: flex;
        width: 20%;
        padding-top: 20px;
        margin: 0px;
        
        flex-direction: column;

    }
    #section_third > div:nth-child(1){
        height: 20px;
        margin-bottom: 20px;
    }
    #section_third > div,span{
        height: 45px;
        padding: 10px;
        justify-content: space-between;
    }
    #section_third > span > img{
        width: 25px;
        height: 35px;
    }
    .slide{
    width:100%;
    height: 350px;
    display:none;
    animation-name:fade;
    animation-duration: 0.05s;
    
    }
    #slider > img{
    width:100%;
    height: 100%;
    }
    @keyframes fade{
    from{opacity:0.5;}
    to{opacity:1;}
    }

    .controls{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:1.5em;
    padding:15px 10px;
    border-radius:5px;
    
    }

    .controls:hover{
    background:white;
    transition:0.2s;
    }

    .controls:active{
    color:grey;
    }

    #left-arrow{
    left:10px;
    }

    #right-arrow{
    right:10px;
    }

    #dots-con{
    
    text-align:center;
    }
    .dot{
    display:inline-block;
    background:grey;
    padding: 4px;
    height: 4px;
    border-radius:50%;
    margin:10px 5px;
    }

    .active{
    background:crimson;
    }

    @media (max-width:576px){
    #slider{
        width:100%;
    
    }
    
    .controls{
        font-size:0.25em;
    }
    
    #dots-con{
        display:none;
    }
    }
    .vv{
        display: flex;
        flex-direction: row;
    }
    .x_hov{
        display: flex;
        padding: 8px;
        height: 42px;
        width: 100%;
        border-bottom: 0.6px solid gray;
        text-align: center;
        gap: 10px;
        /* border: 1px solid black; */
    }
    .x_hov:hover + .leaf, .leaf:hover{
        display: grid;
        grid-template-columns: repeat(4,23%);
        gap: 3%;
        width: 700px;
        position: absolute;
        /* overflow: hidden; */
        padding: 10px;
        font-size: 0.88em;
        /* top: 130px; */
        top: 30vh;
        flex-flow: row-reverse;
        z-index: 1;
        background-color: white;
        margin: 5px 5px 20px 240px;
        /* border: 1px solid red; */
        color: black;
        transition: 1s;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    }
    .leaf{
        display: none;
    }
    #transit_slide{
        display: flex;
        margin: auto;
        margin-top: 50px;
        /* border:  1px solid red; */
        flex-wrap: nowrap;
        font-size: .80em;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
    }
    #category_div{
        /* border:  1px solid red; */
        width: 20%;
    }
    #pre_slider{
        /* border: 1px solid red; */
        width: 60%;
    }
    a{
        text-decoration: none;
        color: black;
    }